p {
  /* normal, italic, oblique */
  /* font-style: normal; */
  /* font-style: italic; */
  font-style: oblique;

  /* normal, bold, 100~900 */
  /* font-weight: normal; */
  /* font-weight: bold; */
  /* font-weight: 100;
  font-weight: 200;
  font-weight: 300;
  font-weight: 400; */
  font-weight: 500;
}